<!-- Login Form -->
<div class="login-form text-center">

<%= form_tag login_path, class: 'border border-light p-5' do %>
  <p class="h4 mb-4 text-center">Log In</p>

  <!-- Print out error msg if the user is not present -->
  <% if flash[:error].present? %>
  <p class="alert alert-danger p-2 text-center"><%= flash[:error] %></p>
  <% end %>

  <!-- Email -->
  <%= label_tag :email %>
  <%= email_field_tag :email, 'ian@test.co', :class => "form-control mb-4" %>

  <!-- Password -->
  <%= label_tag :password %>
  <%= password_field_tag :password, 'chicken', :class => "form-control mb-4" %>

  <!-- Login button -->
  <%= submit_tag "Log In", :class => "btn btn-info btn-block my-4" %>

  <!-- Sign Up -->
  <p class="text-center">
    Don't have an account?
    <%= link_to "Sign Up", new_user_path %>
  </p>

<% end %>

</div>
