<h2>Create New Account</h2>

<% if @user.errors.any? %>
<p>Please correct the following errors:</p>
<ul>
  <% @user.errors.full_messages.each do |e| %>
  <li><%= e %></li>
  <% end %>
</ul>
  <% end %>

<%= form_for @user do |f| %>

<%= f.label :user_type %>
<%= f.select :user_type, ['admin', 'technician', 'patient' ] %>
<br>

<%= f.label :name %>
<%= f.text_field :name %>
<br>

<%= f.label :date_of_birth %>
<%= f.text_field :dob %> (yyyy/mm/dd)
<br>

<%= f.label :contact_number %>
<%= f.text_field :contact %>
<br>

<%= f.label :email %>
<%= f.text_field :email %>
<br>

<%= f.label :password %>
<%= f.password_field :password %>
<br>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<br>

<%= f.label :height %>
<%= f.text_field :height %> (cm)
<br>

<%= f.label :weight %>
<%= f.text_field :weight %> (kg)
<br>

<%= f.label :surgeon %>
<%= f.text_field :surgeon %>
<br>

<%= f.label :surgery_date %>
<%= f.text_field :surgery_date %> (yyyy/mm/dd)
<br>

<%= f.label :delivery_date %>
<%= f.text_field :delivery_date %> (yyyy/mm/dd)
<br>

<%= f.label :health_fund %>
<%= f.text_field :health_fund %>
<br>

<%= f.label :time_of_posturing %>
<%= f.select :time_of_posturing, ['3-5 days', '1 week', '10 days', '2 weeks', '3 weeks', '4 weeks' ] %>
<br>

<%= f.label :address %>
<%= f.text_field :address %>
<br>

<%= f.label :state %>
<%= f.select :state, ['nsw', 'vic', 'qld' ] %>
<br>

<%= f.label :any_health_problems? %>
<%= f.text_field :health_problems %>
<br>

<%= f.label :card_payment %>
<%= f.text_field :card_payment %>
<br>



<%= f.submit 'Sign up' %>

<% end %>
