

<div class="card">
  <div class="card-body">
    <h2 class="card-title"> <%= @user.name %> </h2>
    <div class="card-link">
      <%= link_to 'Edit Account', edit_user_path(@user.id) %>
      |
      <%= link_to 'Delete Account', user_path(@user.id), method: 'delete' %>
    </div>

    <div class="card-link">
    </div>
    <p class="card-text"><strong>User Type</strong>: <%= @user.user_type %></p>
    <p class="card-text"><strong>Full Name</strong>: <%= @user.name %></p>
    <p class="card-text"><strong>Date of Birth</strong>: <%= @user.dob %></p>
    <p class="card-text"><strong>Height</strong>: <%= @user.height %> cm </p>
    <p class="card-text"><strong>Weight</strong>: <%= @user.weight %> kg </p>
    <p class="card-text"><strong>Email Address</strong>: <%= @user.email %></p>
    <p class="card-text"><strong>Contact Number</strong>: <%= @user.contact %></p>
    <p class="card-text"><strong>Address</strong>: <%= @user.address %></p>
    <p class="card-text"><strong>State</strong>: <%= @user.state %></p>
    <p class="card-text"><strong>Card Details</strong>: <%= @user.card_payment %></p>
    <p class="card-text"><strong>Card Verified</strong>: <%= @user.card_verified %></p>

  </div>

</div>
