<div class="card">
  <div class="card-body">

    <h2 class="card-title"> Order Details </h2>
    <div class="card-link">
      <%= link_to 'Edit Order', edit_order_path(@order.id) %>
      |
      <%= link_to 'Delete Order', order_path(@order.id), method: 'delete' %>
    </div>


    <p><strong>Patient ID</strong>: <%= @order.patient_id %></p>
    <p><strong>Technician ID</strong>: <%= @order.technician_id %></p>
    <p><strong>Item Size</strong>: <%= @order.item_size %></p>
    <p><strong>Order Status</strong>: <%= @order.status %></p>
    <p><strong>Time of Posturing</strong>: <%= @order.time_of_posturing %></p>
    <p><strong>Health Fund</strong>: <%= @order.health_fund %></p>
    <p><strong>Surgeon</strong>: <%= @order.surgeon %></p>
    <p><strong>Surgery Date</strong>: <%= @order.surgery_date %></p>
    <p><strong>Delivery Date</strong>: <%= @order.delivery_date %></p>
    <p><strong>Any Health Issues</strong>: <%= @order.health_problems %></p>

    <% if @current_user.technician?%>

    <p><strong>Order Status</strong>: <%= @order.status %></p>

    <% end %>

    <% if @current_user.technician? %> <!-- only technician users can see this button -->

    <% if @unassigned_orders %> <!-- this button only appears if the technician_id:'nil' -->
    <%= button_to 'Accept this Order', order_accept_path(@order.id), :class => "btn btn-outline-primary btn-block my-4" %>
    <% end %>

    <% end %>

    <!-- comments section -->

        <%= form_for @comment do |f| %>

        <%= f.label :Messages, :for => "comment" %>
        <br>
        <%= f.text_area :comment, :class => "form-control", :rows => "3" %>
        <br>

        <%= f.hidden_field :order_id, :value => @order.id%>

        <%= f.submit 'Submit', :class => "btn btn-primary" %>

        <% end %>

        <!-- Messages/Comments -->
        <% @order.comments.each do |c| %>

        <li class="listedComment">
          <%= c.comment %>
        </li>

          <%= link_to 'Delete', comment_path(c.id), method: 'delete', :class => "comment-meta" %>

        <% end %>

  </div> <!-- card body -->

</div> <!-- card -->
