<!DOCTYPE html>
<html>
  <head>
    <title>Vitrectomy Hire</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <h1>Vitrectomy Hire</h1>

    <header>
      <nav>
        <% if @current_user.present? %>
          Welcome, <%= @current_user.name %>
          <% if @current_user.admin? %>
          (admin)
          |
          <%= link_to 'Users', users_path %>
          |
          <%= link_to 'Orders', orders_path %>

          <% end %>

          <% if @current_user.technician? %>
          (technician)
          |
          <%= link_to 'Orders', orders_path %>
          <% end %>

          <% if @current_user.patient? %>
          (patient)
          |
          <%= link_to 'Order Info', orders_path %>
          <% end %>
          |
          <%= link_to 'Create Order', new_order_path %>
          |
          <%= link_to 'Logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Login', login_path %>
          |
          <%= link_to 'Sign Up', new_user_path %>

        <% end %>
      </nav>
      <hr>
    </header>


    <%= yield %>
    <footer>
      <hr>
      &copy; IrenekMac Productions, 2020
    </footer>
  </body>
</html>
